*.class
*.log

.DS_Store

/.idea/
.metals
.bloop
target
/modules/*/target/
/target/
/project/target/
/project/project/target

project/metals.sbt
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
